.div1{background-color: rgb(25, 67, 145); color: aliceblue;}
body{
    background-image: url("https://th.bing.com/th/id/OIP.bjnr9BNFUXFMyj3D6eoHpQHaE7?pid=ImgDet&rs=1");
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    }